# Make a copy of this file and name it `.env`.
# Uncomment one or more lines below by removing the `#` in front.

#HUGGINGFACE_TOKEN=

#AMOTILE_HASH=
#AMOTILE_AUTOMATIC1111_HASH=
#AMOTILE_BACKEND_HASH=

#AUTOMATIC1111_HASH=
#AUTOMATIC1111_TXT2VECTORGRAPHICS_HASH=
#AUTOMATIC1111_DEFORUM_HASH=

#INVOKEAI_HASH=

# Note, the version below corresponds to the PyPI version at https://pypi.org/project/lama-cleaner/
#LAMA_VERSION=

#OSI1880VR_HASH=

#SYGIL_HASH=
